<h1>{{ section.settings.liquid-ref }}</h1>

{% schema %}
{

     "name": "Liquid Reference",
     "settings": [
        {
            "id": "liquid-ref",
            "type": "text",
            "label": "A Reference for Shopify Liquid"
        },
        {
            "id": "liquid-checkbox",
            "type": "checkbox",
            "label": "A checkbox in liquid"
        }
     ],
     "templates": ["index", "page", "product"],
     "presets": [
        {
            "name": "Liquid Reference",
            "category": "Reference"
        }
     ]

}
{% endschema %}